*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
a:link, a:visited{
    color: #092e1c;
}
header{
    background-color: #2CE88B;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    
    
}
main{
    background-color: white;
    padding: 10px;
    min-height: 83vh;
}
footer{
    background-color: #2CE88B;
    padding: 5px;

}
.nav-left{
    align-items: center;
}
.nav-right, .nav-left{
    display: flex;
    gap: 20px;
    
}

.h1-header{
    font-family: 'Poppins', sans-serif;
    color: #092e1c;
    text-align: left;
    font-weight: 800;
    
}


.login-btn-login{
    color: #6befae;
    background-color: #092e1c;
    border-radius: 25px;
    height: 60px;
    width: 160px;
    padding: 12px;
}
    
.login-btn-login:hover{
    background-color: #0d462a;
}

.login-box{
    
    border-radius: 25px;
    display: flex;
    background-color: #eafdf3;
    width: 600px;
    padding: 90px;
    flex-direction: column;
    gap: 20px;
    
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-form input{
    padding: 15px;
    border: 2px solid #04170e;
    border-radius: 25px;
    
}
.remember{
    display: flex;
    align-items: center;
    gap: 10px;
}
.login-box p{
    display: flex;
    align-items: center;
    gap: 10px;
}


.index-login-button{
    border: 1px solid #04170e;
    border-radius: 25px;
    padding: 10px 15px;
}
.index-register-button{
    border: 1px solid #167446;
    border-radius: 25px;
    background-color: #167446;
    padding: 10px 15px;
}
.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

    
